*{
	margin:0;
	padding:0;
}
body{
	background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(wbimg.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;	
}
.container{
	background-color:#34B4BD;
	width:100%;
}
ul{
	
}
ul li{
	background-color:#5CE88F;
	width:270px;
	display:inline-block;
	height:45px;
	line-height:45px;
	text-align:center;
}
ul li a{
	text-decoration:none;
	color:#000;
	display:block;
}
ul li a:hover{
	background-color:orange;
	color:#000;
	transform:scale(1.1);
}
.active{
	background-color:orange;
	color:#000;
}
